VITE_BASE_PATH=
PORT=3000
GEMINI_API_KEY=
BKASH_CREATE_PAYMENT_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/create
BKASH_AUTH_TOKEN=
BKASH_APP_KEY=
BKASH_CALLBACK_URL=
REDIS_STREAM_REST_URL=
REDIS_STREAM_REST_TOKEN=
REDIS_STREAM_KEY=takasafe:transactions
